# Simkl API - https://simkl.com/settings/developer
SIMKL_CLIENT_ID=TU_SIMKL_CLIENT_ID
SIMKL_CLIENT_SECRET=TU_SIMKL_CLIENT_SECRET
SIMKL_ACCESS_TOKEN=

# Gemini API - https://aistudio.google.com/app/apikey
GEMINI_API_KEY=TU_GEMINI_API_KEY

# TMDB API - https://www.themoviedb.org/settings/api
TMDB_API_KEY=TU_TMDB_API_KEY
